In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_colwidth', None)

In [2]:
#stock_prices: daily closing price for each stock and the target column
#options: data on variety of options based on the broader market. Many options include implicit predictions of the future price of the stock market
#trades: aggregated summary of trading volumes from the previous business week
#financials: results from quarterly earnings report
#stock_list: mapping between securities code and company names, plus general information about the industry the company is in

#Folders
#data_specifications/ - Definition for individual columns
#jpx_tokyo_market_prediction - Files that enable the API
#train_files - Data folder covering the main training period
#supplemental_files - Data folder containing a window of supplemental training data. Will be updated in early Mary, early June and week before submissions are locked
#example_test_files - Data folder containing public test period

#Sharpe Ratio = Average of Excess Returns/Std Deviation of Excess Returns
#Excess Returns Portfolio Returns - Benchmark Returns(Usually the market index,e.g for small cap -> S&P small-cap index)
#However, positive std deviation is good, consider sortino/calmar ratio to only account for downside risk
#Sortino Ratio = (Total return-Minimum Acceptable Return)/Downside std dev
#Calmar Ratio =  (Total retun)/Abs(Maximum Drawdown)

#Possible strategy: Short the Low priced stocks that are most likely to go bankrupt (check survivorship bias)
#Buy the ones with the worst previous day returns and short the ones with the best previous one day returns
#Bollinger-bands mean reversion: every time price exceeds plus or minus 2 standard deviations from its moving average, short or buy respectively (Sharpe ratio of 3 without transaction costs, -3 if subtracted 1 basis point as transaction costs) (sharpe 4.47 without transaction costs - the book showed 0.25 but this is for large market cap, 4.47 usually from small cap)
#Pair trading - tracking companies with high correlation short the outperforming and buy the underperforming, sell/ buy when converge
#Ornstein Uhlenbeck to calculate average holding time for mean reverting strat

In [30]:
stock_list = pd.read_csv('ds/stock_list.csv')

In [4]:
#data specifications
options_spec = pd.read_csv('ds/data_specifications/options_spec.csv')
stock_fin_spec = pd.read_csv('ds/data_specifications/stock_fin_spec.csv')
stock_list_spec = pd.read_csv('ds/data_specifications/stock_list_spec.csv')
stock_price_spec = pd.read_csv('ds/data_specifications/stock_price_spec.csv')
trades_spec = pd.read_csv('ds/data_specifications/trades_spec.csv')

In [5]:
stock_list[stock_list.sort_values(["MarketCapitalization"],ascending=False)["MarketCapitalization"].isna()]

<ipython-input-5-aaf9af307a3f>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  stock_list[stock_list.sort_values(["MarketCapitalization"],ascending=False)["MarketCapitalization"].isna()]

,SecuritiesCode,EffectiveDate,Name,Section/Products,NewMarketSegment,33SectorCode,33SectorName,17SectorCode,17SectorName,NewIndexSeriesSizeCode,NewIndexSeriesSize,TradeDate,Close,IssuedShares,MarketCapitalization,Universe0
62,1408,20000101,"ITbook Co.,LTD.",Mothers (Domestic),NaN,-,-,-,-,-,-,NaN,NaN,NaN,NaN,False
164,1606,20000101,"Japan Drilling Co.,Ltd.",First Section (Domestic),NaN,1050,Mining,2,ENERGY RESOURCES,-,-,NaN,NaN,NaN,NaN,False
231,1722,20000101,"MISAWA HOMES CO.,LTD.",First Section (Domestic),NaN,2050,Construction,3,CONSTRUCTION & MATERIALS,-,-,NaN,NaN,NaN,NaN,False
235,1728,20000101,"MISAWA HOMES CHUGOKU CO.,LTD.",JASDAQ(Standard / Domestic),NaN,-,-,-,-,-,-,NaN,NaN,NaN,NaN,False
252,1782,20000101,"Joban Kaihatsu Co.,Ltd.",JASDAQ(Standard / Domestic),NaN,-,-,-,-,-,-,NaN,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4367,9909,20000101,AIKO CORPORATION,JASDAQ(Standard / Domestic),NaN,-,-,-,-,-,-,NaN,NaN,NaN,NaN,False
4379,9943,20000101,"COCO'S JAPAN CO.,LTD.",JASDAQ(Standard / Domestic),NaN,-,-,-,-,-,-,NaN,NaN,NaN,NaN,False
4386,9957,20000101,SHOWA SHELL SEKIYU K.K.,First Section (Domestic),NaN,6050,Wholesale Trade,13,COMMERCIAL & WHOLESALE TRADE,-,-,NaN,NaN,NaN,NaN,False
4391,9966,20000101,FUJIKYU CORPORATION,First Section (Domestic),NaN,6100,Retail Trade,14,RETAIL TRADE,-,-,NaN,NaN,NaN,NaN,False
4410,9992,20000101,"RIKENGREEN CO.,LTD.",JASDAQ(Standard / Domestic),NaN,-,-,-,-,-,-,NaN,NaN,NaN,NaN,False

In [6]:
#train files
train_financials = pd.read_csv('ds/train_files/financials.csv',low_memory=False)
train_options = pd.read_csv('ds/train_files/options.csv',low_memory=False)

In [31]:
train_secondary_stock_prices = pd.read_csv('ds/train_files/secondary_stock_prices.csv')
train_stock_prices = pd.read_csv('ds/train_files/stock_prices.csv')
train_trades = pd.read_csv('ds/train_files/trades.csv')

In [32]:
test_financials = pd.read_csv('ds/example_test_files/financials.csv')
test_options = pd.read_csv('ds/example_test_files/options.csv')
test_secondary_stock_prices = pd.read_csv('ds/example_test_files/secondary_stock_prices.csv')
test_stock_prices = pd.read_csv('ds/example_test_files/stock_prices.csv')
test_trades = pd.read_csv('ds/example_test_files/trades.csv')
test_submission = pd.read_csv('ds/example_test_files/sample_submission.csv')

In [33]:
supplemental_financials = pd.read_csv('ds/supplemental_files/financials.csv')
supplemental_options = pd.read_csv('ds/supplemental_files/options.csv')
supplemental_secondary_stock_prices = pd.read_csv('ds/supplemental_files/secondary_stock_prices.csv')
supplemental_stock_prices = pd.read_csv('ds/supplemental_files/stock_prices.csv')
supplemental_trades = pd.read_csv('ds/supplemental_files/trades.csv')

D:\conda\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (7,8,9,10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:

def calc_spread_return_sharpe(df: pd.DataFrame, portfolio_size: int = 200, toprank_weight_ratio: float = 2) -> float:
    """
    Args:
        df (pd.DataFrame): predicted results
        portfolio_size (int): # of equities to buy/sell
        toprank_weight_ratio (float): the relative weight of the most highly ranked stock compared to the least.
    Returns:
        (float): sharpe ratio
    """
    def _calc_spread_return_per_day(df, portfolio_size, toprank_weight_ratio):
        """
        Args:
            df (pd.DataFrame): predicted results
            portfolio_size (int): # of equities to buy/sell
            toprank_weight_ratio (float): the relative weight of the most highly ranked stock compared to the least.
        Returns:
            (float): spread return
        """
        assert df['Rank'].min() == 0
        assert df['Rank'].max() == len(df['Rank']) - 1
        weights = np.linspace(start=toprank_weight_ratio, stop=1, num=portfolio_size)
        #Target is the rate of change 
        purchase = (df.sort_values(by='Rank')['Target'][:portfolio_size] * weights).sum() / weights.mean()
        short = (df.sort_values(by='Rank', ascending=False)['Target'][:portfolio_size] * weights).sum() / weights.mean()
        return purchase - short

    buf = df.groupby('Date').apply(_calc_spread_return_per_day, portfolio_size, toprank_weight_ratio)
    sharpe_ratio = buf.mean() / buf.std()
    return sharpe_ratio

In [6]:
def calc_rate_of_change(current_value,old_value):
    return ((current_value - old_value)/old_value)

In [34]:
train_stock_prices["Date"] = pd.to_datetime(train_stock_prices["Date"])
test_stock_prices["Date"] = pd.to_datetime(test_stock_prices["Date"])
supplemental_stock_prices["Date"] = pd.to_datetime(supplemental_stock_prices["Date"])

In [35]:
train_stock_prices = train_stock_prices.drop(["RowId"],axis=1)
test_stock_prices = test_stock_prices.drop(["RowId"],axis=1)
supplemental_stock_prices = supplemental_stock_prices.drop(["RowId"],axis=1)

In [14]:
#drop = True prevents old index from being inserted as a new column
tmpdf = train_stock_prices[train_stock_prices["SecuritiesCode"]==1301].reset_index(drop=True).copy()
tmpdf

,Date,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,Target
0,2017-01-04,1301,2734.0,2755.0,2730.0,2742.0,31400,1.0,NaN,False,0.000730
1,2017-01-05,1301,2743.0,2747.0,2735.0,2738.0,17900,1.0,NaN,False,0.002920
2,2017-01-06,1301,2734.0,2744.0,2720.0,2740.0,19900,1.0,NaN,False,-0.001092
3,2017-01-10,1301,2745.0,2754.0,2735.0,2748.0,24200,1.0,NaN,False,-0.005100
4,2017-01-11,1301,2748.0,2752.0,2737.0,2745.0,9300,1.0,NaN,False,-0.003295
...,...,...,...,...,...,...,...,...,...,...,...
1197,2021-11-29,1301,2975.0,2984.0,2951.0,2951.0,14300,1.0,NaN,False,0.003793
1198,2021-11-30,1301,2953.0,2997.0,2900.0,2900.0,20500,1.0,NaN,False,0.007558
1199,2021-12-01,1301,2909.0,2936.0,2909.0,2911.0,10600,1.0,NaN,False,0.016706
1200,2021-12-02,1301,2949.0,2973.0,2933.0,2933.0,15200,1.0,NaN,False,-0.003689
1201,2021-12-03,1301,2983.0,2983.0,2965.0,2982.0,11400,1.0,NaN,False,0.031639

In [15]:
tmpdf["Closing Price after 1 day"] = tmpdf["Close"].shift(-1)
tmpdf["Closing Price after 2 days"] = tmpdf["Close"].shift(-2)
tmpdf["Target Compare"] = tmpdf.apply( lambda x: calc_rate_of_change(x["Closing Price after 2 days"],x["Closing Price after 1 day"]),axis=1)

In [16]:
tmpdf

,Date,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,Target,Closing Price after 1 day,Closing Price after 2 days,Target Compare
0,2017-01-04,1301,2734.0,2755.0,2730.0,2742.0,31400,1.0,NaN,False,0.000730,2738.0,2740.0,0.000730
1,2017-01-05,1301,2743.0,2747.0,2735.0,2738.0,17900,1.0,NaN,False,0.002920,2740.0,2748.0,0.002920
2,2017-01-06,1301,2734.0,2744.0,2720.0,2740.0,19900,1.0,NaN,False,-0.001092,2748.0,2745.0,-0.001092
3,2017-01-10,1301,2745.0,2754.0,2735.0,2748.0,24200,1.0,NaN,False,-0.005100,2745.0,2731.0,-0.005100
4,2017-01-11,1301,2748.0,2752.0,2737.0,2745.0,9300,1.0,NaN,False,-0.003295,2731.0,2722.0,-0.003295
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1197,2021-11-29,1301,2975.0,2984.0,2951.0,2951.0,14300,1.0,NaN,False,0.003793,2900.0,2911.0,0.003793
1198,2021-11-30,1301,2953.0,2997.0,2900.0,2900.0,20500,1.0,NaN,False,0.007558,2911.0,2933.0,0.007558
1199,2021-12-01,1301,2909.0,2936.0,2909.0,2911.0,10600,1.0,NaN,False,0.016706,2933.0,2982.0,0.016706
1200,2021-12-02,1301,2949.0,2973.0,2933.0,2933.0,15200,1.0,NaN,False,-0.003689,2982.0,NaN,NaN
1201,2021-12-03,1301,2983.0,2983.0,2965.0,2982.0,11400,1.0,NaN,False,0.031639,NaN,NaN,NaN

In [17]:
train_stock_prices

,Date,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,Target
0,2017-01-04,1301,2734.0,2755.0,2730.0,2742.0,31400,1.0,NaN,False,0.000730
1,2017-01-04,1332,568.0,576.0,563.0,571.0,2798500,1.0,NaN,False,0.012324
2,2017-01-04,1333,3150.0,3210.0,3140.0,3210.0,270800,1.0,NaN,False,0.006154
3,2017-01-04,1376,1510.0,1550.0,1510.0,1550.0,11300,1.0,NaN,False,0.011053
4,2017-01-04,1377,3270.0,3350.0,3270.0,3330.0,150800,1.0,NaN,False,0.003026
...,...,...,...,...,...,...,...,...,...,...,...
2332526,2021-12-03,9990,514.0,528.0,513.0,528.0,44200,1.0,NaN,False,0.034816
2332527,2021-12-03,9991,782.0,794.0,782.0,794.0,35900,1.0,NaN,False,0.025478
2332528,2021-12-03,9993,1690.0,1690.0,1645.0,1645.0,7200,1.0,NaN,False,-0.004302
2332529,2021-12-03,9994,2388.0,2396.0,2380.0,2389.0,6500,1.0,NaN,False,0.009098
2332530,2021-12-03,9997,690.0,711.0,686.0,696.0,381100,1.0,NaN,False,0.018414

In [18]:
tmpdf2 = train_stock_prices[train_stock_prices["Date"]=="2020-12-03"].reset_index(drop=True)

In [19]:
tmpdf2["Rank"] = tmpdf2["Target"].rank(ascending=False,method="first") -1

In [20]:
tmpdf2.sort_values("Rank")

,Date,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,Target,Rank
445,2020-12-03,3662,966.0,993.0,957.0,988.0,142900,1.0,NaN,False,0.155925,0.0
101,2020-12-03,1981,934.0,945.0,934.0,945.0,300,1.0,NaN,False,0.144211,1.0
1036,2020-12-03,6331,2299.0,2370.0,2277.0,2361.0,51800,1.0,NaN,False,0.133132,2.0
485,2020-12-03,3854,1450.0,1453.0,1428.0,1431.0,155200,1.0,NaN,False,0.120887,3.0
593,2020-12-03,4251,1706.0,1977.0,1703.0,1922.0,551700,1.0,NaN,False,0.102211,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...
545,2020-12-03,4058,6690.0,6890.0,6390.0,6600.0,207700,1.0,NaN,False,-0.122699,1986.0
455,2020-12-03,3681,3560.0,3680.0,3425.0,3455.0,4448600,1.0,NaN,False,-0.135458,1987.0
459,2020-12-03,3696,3060.0,3165.0,2955.0,3010.0,456300,1.0,NaN,False,-0.137008,1988.0
486,2020-12-03,3856,3315.0,3315.0,3065.0,3090.0,346400,1.0,NaN,False,-0.147778,1989.0
1239,2020-12-03,6937,1699.0,1769.0,1680.0,1734.0,1454100,1.0,NaN,False,-0.202020,1990.0

# Long worst previous day and short best previous day

In [65]:
def create_base_long_short(prices):
    if(prices == "train"):
        model =  train_stock_prices.copy()
        model["daily_return"] = (model["Close"]-model["Open"])/model["Open"]
        #Open high low close not available
        model=model[model["Date"]!="2020-10-01"]
        model["daily_return"] = model.groupby(["Date"])["daily_return"].apply(lambda x: x.fillna(x.mean()))
        model["Previous Daily Return"] =model.groupby(["SecuritiesCode"])["daily_return"].shift(1)
        model["Previous Daily Return"] =model.groupby(["SecuritiesCode"])["Previous Daily Return"].apply(lambda x: x.fillna(x.mean()))
        model["Rank"] = model.groupby(["Date"])["Previous Daily Return"].rank(method="first")-1
        #Remove first day since no previous daily returns
        model = model[model["Date"]!="2017-01-04"]
        model = model.sort_values(["Date","Rank"]).reset_index(drop=True)
        return model
    elif(prices=="supplemental"):
        model =  pd.concat([train_stock_prices[train_stock_prices["Date"]=="2021-12-03"].copy(),supplemental_stock_prices.copy()])
        model["daily_return"] = (model["Close"]-model["Open"])/model["Open"]
        #Open high low close not available
        model["daily_return"] = model.groupby(["Date"])["daily_return"].apply(lambda x: x.fillna(x.mean()))
        model["Previous Daily Return"] =model.groupby(["SecuritiesCode"])["daily_return"].shift(1)
        model["Rank"] = model.groupby(["Date"])["Previous Daily Return"].rank(method="first")-1
        #Remove first day since no previous daily returns
        model = model[model["Date"]!="2021-12-03"]
        model = model.sort_values(["Date","Rank"]).reset_index(drop=True)
        return model
    else:
        model = pd.concat([train_stock_prices[train_stock_prices["Date"]=="2021-12-03"].copy(),test_stock_prices.copy()])
        model["daily_return"] = (model["Close"]-model["Open"])/model["Open"]
        model["Closing Price after 1 day"] = model["Close"].shift(-1)
        model["Closing Price after 2 days"] = model["Close"].shift(-2)
        model["Target"] = model.apply( lambda x: calc_rate_of_change(x["Closing Price after 2 days"],x["Closing Price after 1 day"]),axis=1)
        model["daily_return"] = (model["Close"]-model["Open"])/model["Open"]
        #Open high low close not available
        model["daily_return"] = model.groupby(["Date"])["daily_return"].apply(lambda x: x.fillna(x.mean()))
        model["Previous Daily Return"] =model.groupby(["SecuritiesCode"])["daily_return"].shift(1)
        model["Rank"] = model.groupby(["Date"])["Previous Daily Return"].rank(method="first")-1
        #Remove first day since no previous daily returns
        model = model[model["Date"]!="2021-12-03"]
        model = model.sort_values(["Date","Rank"]).reset_index(drop=True)
        return model

In [98]:
standard = create_base_long_short("train")

In [99]:
standard

,Date,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,Target,daily_return,Previous Daily Return,Rank
0,2017-01-05,4699,1115.0,1140.0,1081.0,1085.0,15100,1.0,NaN,False,-0.016468,-0.026906,-0.043440,0.0
1,2017-01-05,4572,2225.0,2245.0,2163.0,2220.0,92000,1.0,NaN,False,0.038511,-0.002247,-0.039147,1.0
2,2017-01-05,3921,2010.0,2035.0,1986.0,2033.0,7400,1.0,NaN,False,0.020739,0.011443,-0.039024,2.0
3,2017-01-05,3665,1402.0,1459.0,1392.0,1455.0,357000,1.0,NaN,False,-0.007218,0.037803,-0.037088,3.0
4,2017-01-05,3597,1252.0,1261.0,1252.0,1261.0,4000,1.0,NaN,False,0.000000,0.007188,-0.036923,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2328673,2021-12-03,4587,2800.0,2833.0,2632.0,2684.0,2622000,1.0,NaN,False,-0.001907,-0.041429,0.056338,1995.0
2328674,2021-12-03,9104,7270.0,7700.0,7080.0,7620.0,10091100,1.0,NaN,False,0.051639,0.048143,0.060029,1996.0
2328675,2021-12-03,9107,5540.0,6200.0,5360.0,6140.0,16470900,1.0,NaN,False,0.038168,0.108303,0.101215,1997.0
2328676,2021-12-03,4310,1071.0,1130.0,1067.0,1130.0,613300,1.0,NaN,False,0.040240,0.055089,0.151351,1998.0
2328677,2021-12-03,2158,3105.0,3245.0,2365.0,2365.0,11828500,1.0,NaN,False,-0.091797,-0.238325,0.198670,1999.0

In [100]:
standard = standard.set_index(["Date","SecuritiesCode"])

In [101]:
standard["Rank"] = standard["Rank"].astype("int")

In [102]:
standard.loc[("2022-04-28",9533),:]

Empty DataFrame
Columns: [Open, High, Low, Close, Volume, AdjustmentFactor, ExpectedDividend, SupervisionFlag, Target, daily_return, Previous Daily Return, Rank]
Index: []

In [91]:
standard.loc[(slice(None),9533),:]

,,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,Target,daily_return,Previous Daily Return,Rank
Date,SecuritiesCode,,,,,,,,,,,,
2021-12-06,9533,3160.0,3200.0,3065.0,3080.0,528400,1.0,NaN,False,0.021070,-0.025316,0.019417,1230
2021-12-07,9533,3095.0,3105.0,3045.0,3085.0,576800,1.0,NaN,False,-0.036508,-0.003231,-0.025316,162
2021-12-08,9533,3120.0,3215.0,3120.0,3150.0,703000,1.0,NaN,False,-0.011862,0.009615,-0.003231,102
2021-12-09,9533,3135.0,3140.0,3025.0,3035.0,564400,1.0,NaN,False,0.012004,-0.031898,0.009615,1722
2021-12-10,9533,3030.0,3035.0,2976.0,2999.0,629200,1.0,NaN,False,0.011532,-0.010231,-0.031898,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-22,9533,2546.0,2568.0,2511.0,2556.0,245400,1.0,NaN,False,-0.001971,0.003928,0.012840,1528
2022-04-25,9533,2510.0,2544.0,2495.0,2537.0,252000,1.0,NaN,False,0.085308,0.010757,0.003928,1383
2022-04-26,9533,2537.0,2566.0,2525.0,2532.0,295100,1.0,NaN,False,0.111718,-0.001971,0.010757,1583
2022-04-27,9533,2492.0,2748.0,2482.0,2748.0,943300,1.0,NaN,False,-0.044190,0.102729,-0.001971,913
2022-04-28,9533,2710.0,3055.0,2693.0,3055.0,903200,1.0,NaN,False,0.030822,0.127306,0.102729,1993

In [105]:
calc_spread_return_sharpe(standard)

0.058014685101211376

In [106]:
standard

                             Open    High     Low   Close    Volume  \
Date       SecuritiesCode
2017-01-05 4699            1115.0  1140.0  1081.0  1085.0     15100
           4572            2225.0  2245.0  2163.0  2220.0     92000
           3921            2010.0  2035.0  1986.0  2033.0      7400
           3665            1402.0  1459.0  1392.0  1455.0    357000
           3597            1252.0  1261.0  1252.0  1261.0      4000
...                           ...     ...     ...     ...       ...
2021-12-03 4587            2800.0  2833.0  2632.0  2684.0   2622000
           9104            7270.0  7700.0  7080.0  7620.0  10091100
           9107            5540.0  6200.0  5360.0  6140.0  16470900
           4310            1071.0  1130.0  1067.0  1130.0    613300
           2158            3105.0  3245.0  2365.0  2365.0  11828500

                           AdjustmentFactor  ExpectedDividend  \
Date       SecuritiesCode
2017-01-05 4699                         1.0               NaN
           4572                         1.0               NaN
           3921                         1.0               NaN
           3665                         1.0               NaN
           3597                         1.0               NaN
...                                     ...               ...
2021-12-03 4587                         1.0               NaN
           9104                         1.0               NaN
           9107                         1.0               NaN
           4310                         1.0               NaN
           2158                         1.0               NaN

                           SupervisionFlag    Target  daily_return  \
Date       SecuritiesCode
2017-01-05 4699                      False -0.016468     -0.026906
           4572                      False  0.038511     -0.002247
           3921                      False  0.020739      0.011443
           3665                      False -0.007218      0.037803
           3597                      False  0.000000      0.007188
...                                    ...       ...           ...
2021-12-03 4587                      False -0.001907     -0.041429
           9104                      False  0.051639      0.048143
           9107                      False  0.038168      0.108303
           4310                      False  0.040240      0.055089
           2158                      False -0.091797     -0.238325

                           Previous Daily Return  Rank
Date       SecuritiesCode
2017-01-05 4699                        -0.043440     0
           4572                        -0.039147     1
           3921                        -0.039024     2
           3665                        -0.037088     3
           3597                        -0.036923     4
...                                          ...   ...
2021-12-03 4587                         0.056338  1995
           9104                         0.060029  1996
           9107                         0.101215  1997
           4310                         0.151351  1998
           2158                         0.198670  1999

[2328678 rows x 12 columns]

In [104]:
test_submission["Rank"] = test_submission.apply(lambda x: standard.loc[(x["Date"],x["SecuritiesCode"])]["Rank"] , axis=1)

KeyError: 1301

In [ ]:
test_submission["Rank"] = standard.sort_values(["Date","SecuritiesCode"])["rank"]

In [55]:
test_submission

              Date  SecuritiesCode    Rank
0       2021-12-06            1301   221.0
1       2021-12-06            1332   672.0
2       2021-12-06            1333   688.0
3       2021-12-06            1375   684.0
4       2021-12-06            1376    22.0
...            ...             ...     ...
111995  2022-02-28            9990   616.0
111996  2022-02-28            9991    48.0
111997  2022-02-28            9993    81.0
111998  2022-02-28            9994  1128.0
111999  2022-02-28            9997  1312.0

[112000 rows x 3 columns]

In [94]:
standard_to_long = standard[standard["Rank"]<=199].copy()
standard_to_short = standard.groupby('Date').tail(200).copy()

In [95]:
standard_to_long['scale']=0
standard_to_short['scale']=0
standard_to_long['scale'] = standard_to_long.groupby(["Date"])['scale'].transform(lambda x:np.linspace(2,1,200))
standard_to_short['scale'] = standard_to_short.groupby(["Date"])['scale'].transform(lambda x:np.linspace(1,2,200))

In [96]:
standard_to_long["points"] = standard_to_long["scale"]*standard_to_long["Target"]
standard_to_short["points"] = standard_to_short["scale"]*standard_to_short["Target"]
standard_to_short

                             Open    High     Low   Close   Volume  \
Date       SecuritiesCode
2021-12-06 3198            1349.0  1352.0  1323.0  1335.0    48700
           9795            1828.0  1828.0  1780.0  1780.0    11200
           4477             667.0   672.0   640.0   662.0  3896200
           3319            1077.0  1123.0  1077.0  1112.0   123300
           3547            1923.0  1949.0  1879.0  1935.0    74900
...                           ...     ...     ...     ...      ...
2022-04-28 9533            2710.0  3055.0  2693.0  3055.0   903200
           3154             997.0  1004.0   976.0  1004.0    38700
           9919            1375.0  1389.0  1331.0  1331.0    86100
           6516            5270.0  5670.0  5250.0  5610.0   407500
           4880            4400.0  4525.0  3860.0  3860.0  1182300

                           AdjustmentFactor  ExpectedDividend  \
Date       SecuritiesCode
2021-12-06 3198                         1.0               NaN
           9795                         1.0               NaN
           4477                         1.0               NaN
           3319                         1.0               NaN
           3547                         1.0               NaN
...                                     ...               ...
2022-04-28 9533                         1.0               NaN
           3154                         1.0               NaN
           9919                         1.0               NaN
           6516                         1.0               NaN
           4880                         1.0               NaN

                           SupervisionFlag    Target  daily_return  \
Date       SecuritiesCode
2021-12-06 3198                      False  0.000000     -0.010378
           9795                      False  0.010270     -0.026258
           4477                      False  0.057887     -0.007496
           3319                      False  0.038961      0.032498
           3547                      False  0.025980      0.006240
...                                    ...       ...           ...
2022-04-28 9533                      False  0.030822      0.127306
           3154                      False  0.015075      0.007021
           9919                      False  0.037037     -0.032000
           6516                      False  0.030741      0.064516
           4880                      False -0.010540     -0.122727

                           Previous Daily Return  Rank     scale    points
Date       SecuritiesCode
2021-12-06 3198                         0.034536  1800  1.000000  0.000000
           9795                         0.034582  1801  1.005025  0.010322
           4477                         0.034691  1802  1.010050  0.058469
           3319                         0.034716  1803  1.015075  0.039548
           3547                         0.034741  1804  1.020101  0.026503
...                                          ...   ...       ...       ...
2022-04-28 9533                         0.102729  1993  1.979899  0.061024
           3154                         0.107875  1994  1.984925  0.029923
           9919                         0.155116  1995  1.989950  0.073702
           6516                         0.160932  1996  1.994975  0.061328
           4880                         0.176774  1997  2.000000 -0.021080

[19600 rows x 14 columns]

In [97]:
S_up = standard_to_long.groupby(["Date"])["points"].sum()/1.5
S_down = standard_to_short.groupby(["Date"])["points"].sum()/1.5
R_day = S_up - S_down
Score = R_day.mean()/R_day.std()
Score

0.1793315481019189

In [ ]:
test_submission

In [194]:
standard_mkt_cap = create_base_long_short('supplemental')

In [195]:
standard_mkt_cap = standard_mkt_cap.join(stock_list[["SecuritiesCode","MarketCapitalization"]].set_index("SecuritiesCode"),on="SecuritiesCode")

In [196]:
standard_mkt_cap["mkt_cap_rank"] = standard_mkt_cap.groupby(["Date"])["MarketCapitalization"].rank(method="first")-1

In [197]:
standard_mkt_cap["is_small_cap"] = standard_mkt_cap.groupby(["Date"])["mkt_cap_rank"].apply(lambda x: ((x/x.max())<0.2).astype(int))

In [198]:
standard_mkt_cap["is_small_mid_cap"] = standard_mkt_cap.groupby(["Date"])["mkt_cap_rank"].apply(lambda x: ((x/x.max())<0.8).astype(int))

In [201]:
standard_mkt_cap[(standard_mkt_cap["is_small_cap"]==1)&(standard_mkt_cap["Date"]=="2021-12-06")]

,Date,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,Target,daily_return,Previous Daily Return,Rank,MarketCapitalization,mkt_cap_rank,is_small_cap,is_small_mid_cap
2,2021-12-06,6378,949.0,962.0,914.0,930.0,759700,1.0,NaN,False,0.027689,-0.020021,-0.079612,2.0,1.744820e+10,141.0,1,1
6,2021-12-06,7065,2605.0,2605.0,2504.0,2545.0,12400,1.0,NaN,False,0.006255,-0.023033,-0.047184,6.0,2.089648e+10,275.0,1,1
7,2021-12-06,4978,228.0,231.0,221.0,221.0,2061400,1.0,NaN,False,0.004464,-0.030702,-0.046025,7.0,1.918279e+10,192.0,1,1
14,2021-12-06,1930,1100.0,1105.0,1075.0,1095.0,13500,1.0,NaN,False,-0.017548,-0.004545,-0.033913,14.0,2.279760e+10,334.0,1,1
16,2021-12-06,4026,2600.0,2673.0,2505.0,2641.0,67600,1.0,NaN,False,0.027362,0.015769,-0.031950,16.0,2.204664e+10,312.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1986,2021-12-06,2780,1378.0,1416.0,1364.0,1383.0,64500,1.0,NaN,False,0.077488,0.003628,0.067797,1986.0,1.942958e+10,204.0,1,1
1990,2021-12-06,3558,1253.0,1265.0,1228.0,1246.0,155100,1.0,NaN,False,0.056662,-0.005587,0.073791,1990.0,1.485316e+10,16.0,1,1
1994,2021-12-06,6565,1191.0,1214.0,1162.0,1182.0,39400,1.0,NaN,False,-0.002362,-0.007557,0.078431,1994.0,1.729472e+10,132.0,1,1
1997,2021-12-06,3772,3355.0,3385.0,3120.0,3160.0,50900,1.0,NaN,False,-0.001517,-0.058122,0.087662,1997.0,2.329358e+10,351.0,1,1
1999,2021-12-06,2987,3475.0,3510.0,3200.0,3285.0,104000,1.0,NaN,False,-0.073718,-0.054676,0.121556,1999.0,1.531418e+10,44.0,1,1

In [189]:
standard_mkt_cap

,Date,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,Target,daily_return,Previous Daily Return,Rank,MarketCapitalization,mkt_cap_rank,is_small_cap,is_small_mid_cap
0,2021-12-06,2158,2315.0,2589.0,2112.0,2560.0,12769400,1.0,NaN,False,0.036559,0.105832,-0.238325,0.0,1.300610e+11,1370.0,0,1
1,2021-12-06,4080,1550.0,1635.0,1443.0,1522.0,2002800,1.0,NaN,False,-0.006506,-0.018065,-0.179728,1.0,7.628988e+10,1137.0,0,1
2,2021-12-06,6378,949.0,962.0,914.0,930.0,759700,1.0,NaN,False,0.027689,-0.020021,-0.079612,2.0,1.744820e+10,141.0,1,1
3,2021-12-06,3563,4335.0,4410.0,4190.0,4335.0,1354400,1.0,NaN,False,0.001112,0.000000,-0.059259,3.0,5.049010e+11,1751.0,0,0
4,2021-12-06,4369,3560.0,3590.0,3440.0,3505.0,180700,1.0,NaN,False,0.021563,-0.015449,-0.052069,4.0,1.184575e+11,1321.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195988,2022-04-28,9533,2710.0,3055.0,2693.0,3055.0,903200,1.0,NaN,False,0.030822,0.127306,0.102729,1993.0,3.093208e+11,1645.0,0,0
195989,2022-04-28,3154,997.0,1004.0,976.0,1004.0,38700,1.0,NaN,False,0.015075,0.007021,0.107875,1994.0,2.076307e+10,268.0,1,1
195990,2022-04-28,9919,1375.0,1389.0,1331.0,1331.0,86100,1.0,NaN,False,0.037037,-0.032000,0.155116,1995.0,6.820120e+10,1082.0,0,1
195991,2022-04-28,6516,5270.0,5670.0,5250.0,5610.0,407500,1.0,NaN,False,0.030741,0.064516,0.160932,1996.0,7.822229e+10,1152.0,0,1
195992,2022-04-28,4880,4400.0,4525.0,3860.0,3860.0,1182300,1.0,NaN,False,-0.010540,-0.122727,0.176774,1997.0,1.011414e+11,1255.0,0,1

In [157]:
standard_mkt_cap_small = standard_mkt_cap.sort_values(["Date","is_small_cap"]).reset_index(drop=True)
standard_mkt_cap_small_mid = standard_mkt_cap.sort_values(["Date","is_small_mid_cap"]).reset_index(drop=True)

In [158]:
standard_mkt_cap_small["Rank"]=standard_mkt_cap_small.groupby(["Date"])["Rank"].transform(lambda x: np.linspace(x.min(),x.max(),x.count()))

In [160]:
standard_mkt_cap_small

,Date,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,Target,daily_return,Previous Daily Return,Rank,MarketCapitalization,mkt_cap_rank,is_small_cap,is_small_mid_cap
0,2021-12-06,2158,2315.0,2589.0,2112.0,2560.0,12769400,1.0,NaN,False,0.036559,0.105832,-0.238325,0.0,1.300610e+11,1370.0,0,1
1,2021-12-06,4080,1550.0,1635.0,1443.0,1522.0,2002800,1.0,NaN,False,-0.006506,-0.018065,-0.179728,1.0,7.628988e+10,1137.0,0,1
2,2021-12-06,3563,4335.0,4410.0,4190.0,4335.0,1354400,1.0,NaN,False,0.001112,0.000000,-0.059259,2.0,5.049010e+11,1751.0,0,0
3,2021-12-06,4369,3560.0,3590.0,3440.0,3505.0,180700,1.0,NaN,False,0.021563,-0.015449,-0.052069,3.0,1.184575e+11,1321.0,0,1
4,2021-12-06,4479,5340.0,5340.0,5080.0,5090.0,32500,1.0,NaN,False,-0.013592,-0.046816,-0.047619,4.0,5.397528e+10,933.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195988,2022-04-28,3784,1190.0,1224.0,1183.0,1221.0,103800,1.0,NaN,False,0.021183,0.026050,0.065530,1993.0,1.571587e+10,66.0,1,1
195989,2022-04-28,4310,1958.0,1969.0,1898.0,1961.0,26000,1.0,NaN,False,0.022200,0.001532,0.067517,1994.0,1.649947e+10,98.0,1,1
195990,2022-04-28,7726,2258.0,2348.0,2156.0,2160.0,102100,1.0,NaN,False,0.022449,-0.043401,0.074519,1995.0,1.652092e+10,99.0,1,1
195991,2022-04-28,6848,920.0,940.0,896.0,902.0,23400,1.0,NaN,False,0.008484,-0.019565,0.079545,1996.0,1.759435e+10,143.0,1,1
195992,2022-04-28,3154,997.0,1004.0,976.0,1004.0,38700,1.0,NaN,False,0.015075,0.007021,0.107875,1997.0,2.076307e+10,268.0,1,1

In [161]:
calc_spread_return_sharpe(standard_mkt_cap_small)

0.1159237292748947